body{
     background-color: #232f3e;
}
.img2{
     position: absolute;
     top: 11px;
     left: 10px;
     width: 40px;
}
.first{
     font-family: Arial, Helvetica, sans-serif;
     position: absolute;
     left: 30px;
     top: -4px;
     color: white;
     font-size: 14.5px;
}
.img img{
     position: absolute;
     top: 3px;
     left: 1160px;
     width: 23%;
}
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

.nav * {
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
}

.nav a {
  padding: .5em .6em;
  color: white;
  position: relative;
  text-decoration: none;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #3DA35D;
}
